{% extends 'homepage/index.html.twig' %}

{% block title %}OneTopic{% endblock %}

{% block body %}
    
        <div class="container p-0">
            {# Titre du sujet de discussion #}
            <h1 class="h3 mb-3">{{topic.title}}</h1>
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-7 col-xl-9">
                        <div class="position-relative">
                            <div class="chat-messages p-4">
                                {# boucle pour afficher la liste des messages dans un sujet de discussion #}
                                {% for message in topic.messages %}
                                    <div class="chat-message-right pb-4">
                                        <div>
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                            <div class="text-muted small text-nowrap mt-2">{{message.creationDate |date("d-m-Y à H:i", "Europe/Paris")}}</div>
                                        </div>
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                        {% if app.user %}
                                            {# Code ici si utilisateur connecter #}
                                            {# On affichera vous si c est utilisateur connecte qui a envoye le messsage #}
                                            {% if app.user.username == message.author.email %}
                                                {# Code ici si c est utilisateur connecte qui a envoye le messsage #}
                                                <div class="font-weight-bold mb-1">Vous</div>
                                            {% else %}
                                                {# Code ici si utilisateur non connecter #}
                                                <div class="font-weight-bold mb-1">{{message.author.firstname}}</div>                  
                                            {% endif %} 
                                        {% else %}
                                            {# Code ici si utilisateur non connecter #}
                                            <div class="font-weight-bold mb-1">{{message.author.firstname}}</div>                 
                                        {% endif %} 
                                            {{message.content}}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if app.user %}
                            {# Code ici si utilisateur connecter #}
                            {# On affichera le formulaire pour envoyer un message #} 
                            {{ form_start(MessageForm) }}
                                <div class="flex-grow-0 py-3 px-4 border-top">
                                    <div class="input-group">
                                        {{ form_row(MessageForm.content, { 'label': '_' }) }}
                                        <button class="btn btn-primary">Envoyer</button>
                                    </div>
                                </div>
                            {{ form_end(MessageForm) }}
                        {% else %}
                            {# Code ici si utilisateur non connecter #}
                            {# On n'affichera pas le formulaire pour envoyer un message #}                
                        {% endif %} 

                    </div>
                </div>
            </div>
        </div>
{% endblock %}